Library/ArtifactDB
Library/PackageCache/com.ptc.vuforia.engine@8.6.10/Vuforia/Plugins/iOS/Vuforia.framework/Vuforia
Library/PackageCache/com.ptc.vuforia.engine@2aa4b218a1/Vuforia/Plugins/iOS/Vuforia.framework/Vuforia
Library/PackageCache/com.ptc.vuforia.engine@2aa4b218a1/Vuforia/
Plugins/Windows Store Apps/uap_x86/Vuforia.dll
Library/PackageCache/com.ptc.vuforia.engine@2a4b218a1/Vuforia/
Plugins/Windows Store Apps/uap_x64/Vuforia.dll
Library/PackageCache/com.ptc.vuforia.engine@2a4b218a1/Vuforia/
Plugins/Windows Store Apps/uap_ARM64/Vuforia.dll
Library/PackageCache/com.ptc.vuforia.engine@2aa4b218a1/Vuforia/
Plugins/Windows Store Apps/uap_ARM/Vuforia.dll
Library/PackageCache/com.ptc.vuforia.engine@2aa4b218a1/Vuforia/
Plugins/Win64/VuforiaWrapper.dll
Library/PackageCache/com.ptc.vuforia.engine@2aa4b218a1/Vuforia/
Plugins/OSXUniversal/VuforiaWrapper.bundle/Contents/MacOS/
VuforiaWrapper
Library/PackageCache/com.ptc.vuforia.engine@2aa4b218a1/Vuforia/
Plugins/Lumin/libVuforia.so
Library/PackageCache/com.ptc.vuforia.engine@2a4b218a1/Vuforia/
Plugins/Android/VuforiaWrapper.aar
